<div class="row page-header">
    <div class="col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
        <div id="profilePicture">
            <img src="{{profilePicture}}" alt="Profile picture of {{username}}">
        </div>
    </div>
    <div class="col-sm-2 col-md-2" style="word-wrap: break-word">
        <h1 style="margin-top: 15%">
            Hello {{username}}
        </h1>
    </div>
    <div class="col-sm-2 col-md-2" style="word-wrap: break-word">
        <h3>
            <small>{{bio}}</small>        
        </h3>
        <button class='btn btn-large btn-danger' ng-click="signOut()">Sign out</button>
    </div>
</div>

<div class="row page-header">
    <div id="mainContent" class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <button class="visible-md visible-lg btn btn-large btn-success" style="height:50px" ng-click="refreshStatsInStorage()">Click here to start</button><br>
        <button class="visible-xs visible-sm btn btn-large btn-success" style="height:50px; width:100%" ng-click="refreshStatsInStorage()">Start</button>
        <div class="progress progress-striped active hide">
            <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>
        <ul class="nav nav-tabs hide">
            <li id="showFollowers" class="active">
                <a href="" ng-click="showFollowers()">Followers</a>
            </li>
            <li><a href="" ng-click="showFollowing()">Following</a></li>
            <li><a href="" ng-click="showAreNotFollowingBack()">Are not following back</a></li>
            <li><a href="" ng-click="showYouNotFollowingBack()">You not following back</a></li>
        </ul>
        <table id="tableContent" class="table table-striped hide">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Username</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tr ng-repeat="user in users track by $index">
                <td><img src="{{user.profile_picture}}" alt="{{user.username}}" width="75"></td>
                <td>
                    <h3><a target="_blank" href="http://instagram.com/{{user.username}}">{{user.username}}</a></h3>
                    <small>{{user.full_name}}</small>
                </td>
                <td><button id="u{{user.id}}" class="btn {{user.follows}}" ng-click="modifyRelationship(user.id, user.follows)">+</button></td>
            </tr>
        </table>
    </div>
    <script>
        $(document).ready(function(){
            $('#mainContent ul li a').click(function(){
                $('#mainContent ul li').removeClass('active');
                $(this).parent().addClass('active');
            });
        });
    </script>
</div>