<div class="row">
    <div class="col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-3">
        <h1>
            No Registration<br>Official Instagram login
        </h1>

        <p>
            This app is avalaible from any browsers which can access to internet.
            <br>
            So you can use your phone (Android, i0s, ...) and your computer !
        </p>
    </div>
    <div class="col-sm-1 col-md-1">
        <button ng-click="login()" class="visible-md visible-lg btn btn-large btn-info"
                style="height:50px">Login
        </button>
        <button ng-click="login()" class="visible-xs visible-sm btn btn-large btn-info"
                style="height:50px; width:100%">Login
        </button>
    </div>
</div>