<user-profile></user-profile>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <button class="visible-md visible-lg btn btn-large btn-success" style="height:50px" ng-click="crawlFollowers()">Click here to start</button><br>
        <button class="visible-xs visible-sm btn btn-large btn-success" style="height:50px; width:100%" ng-click="crawlFollowers()">Start</button>
        <div class="progress progress-striped active" ng-show="showProgressBar">
            <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>
    </div>
</div>