<div class="row page-header visible-md visible-lg">
    <div class="col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
        <div>
            <img src="{{userProfileCtrl.profilePicture}}" alt="Profile picture of {{userProfileCtrl.username}}">
        </div>
    </div>
    <div class="col-sm-2 col-md-2" style="word-wrap: break-word">
        <h1 style="margin-top: 15%">
            Hello {{userProfileCtrl.username}}
        </h1>
    </div>
    <div class="col-sm-2 col-md-2" style="word-wrap: break-word">
        <h3>
            <small>{{userProfileCtrl.bio}}</small>
        </h3>
        <button class='btn btn-large btn-danger' ng-click="userProfileCtrl.signOut()">Sign out</button>
    </div>
</div>

<div class="row page-header visible-xs visible-sm text-center">
    <div>
        <img src="{{userProfileCtrl.profilePicture}}" alt="Profile picture of {{userProfileCtrl.username}}">
    </div>
    <h3>
        Hello {{userProfileCtrl.username}}<br>
        <small>{{userProfileCtrl.bio}}</small>
    </h3>
    <button class="btn btn-large btn-danger" ng-click="userProfileCtrl.signOut()">Sign out</button>
</div>